<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Sign up to Mentorship</title>
</head>

<body>
    <form>
        <input type="hidden">
        <h2>Sign up</h2>
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Enter your email address" required>
        <div class="email error"></div>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter a password" required>
        <div class="password error"></div>
        <button>Sign up</button>
    </form>

    <script>
        const form = document.querySelector('form');
        const emailError = document.querySelector('.email.error');
        const passwordError = document.querySelector('.password.error');

        // Event listener
        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            // Clear the validation errors
            emailError.textContent = '';
            passwordError.textContent = '';

            // Get the values from email and password
            const email = form.email.value;
            const password = form.password.value;

            // Send a request to Post data to the server  
            try {
                const result = await fetch('/mentors/signup', {
                    method: 'POST',
                    body: JSON.stringify({
                        email: email,
                        password: password

                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                const data = await result.json();
                // If there's data.email property, display it to the user
                if (data.errors) {
                    emailError.textContent = data.errors.email
                    passwordError.textContent = data.errors.password;
                }
                console.log(data.mentor);
                if (data.mentor) location.assign('/')
            } catch (error) {

                console.log(error);
            }
        })
    </script>

</body>

</html>